@tailwind base;

@tailwind components;

@tailwind utilities;


.theme-orange {
    --primary: #c05621;
    --secondary: #9c4221;
    --accent: #dd6b20;
}
.theme-purple {
    --primary: #6b46c1;
    --secondary: #553c9a;
    --accent: #805ad5;
}
.theme-blue {
    --primary: #2B6CB0;
    --secondary: #2C5282;
    --accent: #3182CE;
}


html {
    @apply text-gray-700 h-full;
}