<template>
  <div class="fixed top-0 left-0 w-full h-screen z-40">
    <div class="absolute top-0 left-0 w-full h-full bg-primary opacity-50 -z-1"></div>
    <div class="flex items-end md:items-center h-full">
      <div class="flex w-full">
        <app-get-in-touch class="w-full md:w-3/4 xl:w-1/3 mx-auto" @close="$router.push('/')"></app-get-in-touch>
      </div>
    </div>
  </div>
</template>

<script>
  import AppGetInTouch from "../../components/GetInTouch";
  export default {
    components: { AppGetInTouch },
  }
</script>

<style scoped>

</style>