<template>
  <div class="flex flex-col lg:flex-row h-full w-full xl:w-11/12 mx-auto mb-16 md:my-4">
    <div class="xs:flex-none lg:flex-grow-0 mx-4 mb-8">
      <profile class="w-sm"></profile>
      <card class="mt-8">
        <h3 class="text-secondary text-xl mb-8 font-bold">Stacks use for this site</h3>
        <div class="flex items-start flex-wrap">
          <div v-for="(item, key) in stackUsed" :key="key" class="w-1/4 sm:flex-1">
            <brand :value="item.logo" class="w-8 h-8 mx-auto" :class="item.color"></brand>
            <div class="text-sm font-bold text-center">{{ item.name }}</div>
          </div>
        </div>
      </card>
    </div>
    <div class="xs:flex-none lg:flex-grow mx-4">
      <card class="mb-8">
        <h2 class="text-secondary text-xl mb-8 font-bold">What I Do?</h2>
        <div class="flex flex-wrap">
          <what-ido
            v-for="(item, key) in wid"
            :key="key"
            class="flex flex-col sm:flex-row w-full md:w-1/2"
            :icon="item.icon"
            :title="item.title"
            :content="item.content"
          />
        </div>
      </card>
      <card class="mb-8">
        <h2 class="text-secondary text-xl mb-8 font-bold">Stacks</h2>
        <stacks v-for="(item, key) in stacks" :key="key" class="mb-4" :title="item.title" :items="item.stacks"></stacks>
      </card>
      <div class="text-white">
        <div class="flex">
          <div class="flex-grow">
            Made with <icon value="icon-heart" class="inline-block"></icon> by Cydrick
          </div>
          <div class="flex-grow-0 text-white">
            <logo title="Cydrick Nonog" desc="Cydrick Nonog Brand" cColor="fill-accent" nColor="fill-current" class="w-12"></logo>
          </div>
          <div class="flex-grow text-right">
            Powered By <brand value="netlify" class="text-blue-300 w-4 inline-block"></brand>
            <a href="https://www.netlify.com/" rel="nofollow" nofollow>Netlify</a>
          </div>
        </div>
      </div>
    </div>
    <nuxt-child></nuxt-child>
  </div>
</template>

<script>
  import Profile from "../components/Profile";
  import Card from "../components/Card";
  import Stacks from "../components/Stacks";
  import Icon from "../components/Icon";
  import WhatIdo from "../components/WhatIdo";
  import AppInput from "../components/AppInput";

  export default {
    components: { Icon, Profile, Card, Stacks, WhatIdo, AppInput },
    layout: "base",
    data: () => ({
      wid: [
        {
          title: "Back-end Development",
          icon: "icon-backend",
          content: "Implementing server-side logic, api, database and other stuff that are related to back-end."
        },
        {
          title: "Font-end Development",
          icon: "icon-front-end",
          content: "Converting designs in to code (Html, Css, javascript or Using Vuejs)."
        },
        {
          title: "Architecture",
          icon: "icon-server",
          content: "Plan on how the system will work and what are the technologies will be use for developing the system."
        },
        {
          title: "Mentorship",
          icon: "icon-teacher",
          content: "Teaching and sharing my experience to others."
        },
      ],
      stacks: [
        {
          title: "Backend Development",
          stacks: [
            { logo: "php", name: "PHP", level: 4, color: "text-purple-600" },
            { logo: "node", name: "Node Js", level: 3, color: "text-green-600" },
            { logo: "python", name: "Python", level: 3, color: "text-yellow-600" },
          ]
        },
        {
          title: "Backend Frameworks",
          stacks: [
            { logo: "symfony", name: "Symfony", level: 4, color: "text-black-600" },
            { logo: "laravel", name: "Laravel", level: 4, color: "text-red-600" },
            { logo: "express-js", name: "ExpressJS", level: 3, color: "text-green-600" },
            { logo: "django", name: "Django", level: 2, color: "text-green-700" },
            { logo: "flask", name: "Flask", level: 2, color: "text-blue-600" },
          ]
        },
        {
          title: "Frontend Development",
          stacks: [
            { logo: "html", name: "HTML", level: 4, color: "text-orange-600" },
            { logo: "css", name: "CSS", level: 3, color: "text-blue-600" },
            { logo: "js", name: "JS", level: 3, color: "text-yellow-600" },
            { logo: "vue-js", name: "VueJS", level: 3, color: "text-green-600" },
            { logo: "nuxt-js", name: "Nuxt", level: 3, color: "text-green-600" },
            { logo: "tailwind-css", name: "Tailwind Css", level: 3, color: "text-blue-500" },
          ]
        },
        {
          title: "CMS",
          stacks: [
            { logo: "october-cms", name: "October CMS", level: 3, color: "text-orange-600" },
            { logo: "wordpress", name: "Wordpress", level: 2, color: "text-blue-300" },
          ]
        },
        {
          title: "Databases",
          stacks: [
            { logo: "my-sql", name: "MySQL", level: 4, color: "text-blue-800" },
            { logo: "pg-sql", name: "PostgreSQL", level: 4, color: "text-blue-600" },
            { logo: "mongo-db", name: "Mongo DB", level: 3, color: "text-green-600" },
            { logo: "orient-db", name: "Orient DB", level: 2, color: "text-blue-600" },
            { logo: "ydb", name: "Yugabyte DB", level: 1, color: "text-orange-600" },
          ]
        },
        {
          title: "Version Control",
          stacks: [
            { logo: "Git", name: "Git", level: 4, color: "text-orange-800" },
          ]
        },
        {
          title: "Source Code Repository Manager",
          stacks: [
            { logo: "Github", name: "Github", level: 0, color: "text-black-400" },
            { logo: "Gitlab", name: "GitLab", level: 0, color: "text-orange-800" },
          ]
        },
        {
          title: "Infrastructures",
          stacks: [
            { logo: "docker", name: "Docker", level: 3, color: "text-blue-600" },
            { logo: "aws", name: "AWS", level: 1, color: "text-yellow-600" },
            { logo: "express-gateway", name: "Express Gateway", level: 2, color: "text-blue-300" },
          ]
        },
        {
          title: "Operating System",
          stacks: [
            { logo: "arch-os", name: "Arch Linux (Personal)", level: 0, color: "text-blue-600" },
            { logo: "debian", name: "Debian", level: 0, color: "text-red-600" },
            { logo: "cent-os", name: "CentOS", level: 0, color: "text-green-600" },
            { logo: "ubuntu", name: "Ubuntu", level: 0, color: "text-orange-600" },
          ]
        },
      ],
      stackUsed: [
        { name: "VueJs", logo: "vue-js", color: "text-green-600" },
        { name: "Nuxt", logo: "nuxt-js", color: "text-green-600" },
        { name: "Tailwind Css", logo: "tailwind-css", color: "text-blue-500" },
        { name: "Webpack", logo: "webpack", color: "text-green-600" },
        { name: "Netlify", logo: "netlify", color: "text-blue-600" },
        { name: "git", logo: "git", color: "text-blue-600" },
        { name: "gitlab", logo: "gitlab", color: "text-blue-600" },
      ]
    })
  }
</script>