<template>
  <div class="relative my-4 border-2 focus-within:border-primary">
    <input type="text" :name="name" placeholder=" " :disabled="disabled" :value="value" @input="updateValue" class="block py-2 px-4 w-full bg-transparent z-10 relative appearance-none focus:outline-none" />
    <label class="absolute top-0 duration-300 origin-0 py-2 mx-2 px-2 bg-white">{{ placeholder }}</label>
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: String,
      value: String,
      name: String,
      disabled: Boolean
    },
    methods: {
      updateValue: function (event) {
        this.$emit('input', event.target.value)
      }
    }
  }
</script>

<style scoped>
  input:focus-within ~ label,
  input:not(:placeholder-shown) ~ label {
    transform-origin: 0%;
    @apply transform scale-75 -translate-y-6;
  }

  input:focus-within ~ label {
    @apply text-primary;
  }
</style>