<template>
  <div class="relative my-4 border-2 focus-within:border-primary">
     <textarea
       placeholder=" "
       :value="value"
       :name="name"
       @input="updateValue"
       :disabled="disabled"
       class="block py-2 px-4 w-full h-full bg-transparent z-10 relative appearance-none focus:outline-none resize-none"
     >
    </textarea>
    <label class="absolute top-0 duration-300 origin-0 py-2 mx-2 px-2 bg-white">{{ placeholder }}</label>
  </div>
</template>

<script>
  export default {
    props: {
      placeholder: String,
      value: String,
      name: String,
      disabled: Boolean
    },
    methods: {
      updateValue: function (event) {
        this.$emit('input', event.target.value)
      }
    }
  }
</script>

<style scoped>
  textarea:focus-within ~ label,
  textarea:not(:placeholder-shown) ~ label {
    transform-origin: 0%;
    @apply transform scale-75 -translate-y-6;
  }

  textarea:focus-within ~ label {
    @apply text-primary;
  }
</style>