<template>
  <button :type="type" class="btn outline-none" v-bind="$attrs" @click="$emit('click')"><slot></slot></button>
</template>

<script>
  export default {
    props: {
      type: String
    }
  }
</script>

<style scoped>
  .btn {
    @apply font-bold py-2 px-4;
  }
</style>