<template>
  <div>
    <card class="relative z-50">
      <h2 class="text-primary text-xl font-bold mb-2">Get in touch</h2>
      <form
        name="get-in-touch"
        method="post"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        @submit.prevent="submit"
      >
        <input type="hidden" name="form-name" value="get-in-touch" />
        <app-input placeholder="Name" name="name" :disabled="disabled" v-model="form.name"></app-input>
        <app-input placeholder="Email" name="email" :disabled="disabled" v-model="form.email"></app-input>
        <app-textarea placeholder="Content" name="message" :disabled="disabled" v-model="form.message" class="h-24"></app-textarea>
        <div class="flex space-x-4">
          <div class="flex-grow">
            <app-button type="submit" class="rounded-full w-full bg-primary text-white hover:bg-accent" :disabled="disabled">Submit</app-button>
          </div>
          <div class="flex-grow-0">
            <app-button type="button" class="bg-transparent" @click="$emit('close')" :disabled="disabled">Cancel</app-button>
          </div>
        </div>
      </form>
      <div :hidden="!submited" class="absolute top-0 left-0 w-full h-full bg-white z-20 p-4">
        <icon value="icon-check" class="w-1/4 h-1/4 mx-auto text-primary"></icon>
        <p class="my-4 text-center">
          Your message was been successfully sent!
        </p>
        <p class="text-center">
          I will respond to you as soon as possible.
        </p>
        <div class="absolute bottom-0 w-full left-0 p-4">
          <app-button type="button" class="bg-primary rounded-full text-white w-full" @click="$emit('close')">Close</app-button>
        </div>
      </div>
    </card>
  </div>
</template>

<script>
  import AppInput from "./AppInput";
  import AppTextarea from "./AppTextarea";
  import Card from "./Card";
  import AppButton from "./Button";
  import axios from "axios";
  import Icon from "./Icon";

  export default {
    components: {Icon, Card, AppTextarea, AppInput, AppButton },
    data: () => ({
      disabled: false,
      submited: false,
      form: {
        name: '',
        email: '',
        message: '',
      }
    }),
    methods: {
      encode: function (data) {
        return Object.keys(data)
          .map(
            key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
          )
          .join("&");
      },
      submit: function () {
        this.disabled = true;
        const axiosConfig = {
          header: { "Content-Type": "application/x-www-form-urlencoded" }
        };
        axios.post(
          "/",
          this.encode({
            "form-name": "get-in-touch",
            ...this.form
          }),
          axiosConfig
        ).then(() => {
          this.disabled = false;
          this.submited = true;
        });
      }
    }
  }
</script>

<style scoped>
</style>