<template>
  <div class="rounded overflow-hidden shadow-lg bg-white">
    <div class="flex flex-col sm:flex-row lg:flex-col">
      <div class="bg-accent w-full static sm:relative lg:static">
        <img class="w-full static sm:absolute lg:static bottom-0" src="/cydrick.png" alt="Sunset in the mountains" />
      </div>
      <div>
        <div class="flex-grow px-6 py-4">
          <div class="flex space-x-8">
            <div class="flex-grow">
              <h1 class="font-bold text-xl mb-2 text-gray-700">Cydrick Nonog</h1>
              <h2 class="text-primary text-lg mb-2">Software Engineer</h2>
            </div>
            <div class="w-1/6">
              <logo title="Cydrick Nonog" desc="Cydrick Nonog Brand" cColor="fill-secondary" nColor="fill-current"></logo>
            </div>
          </div>
          <p class="text-gray-700 text-base">
            I'm a passionate web developer from Baguio City, Philippines
            who loves to work in back-end development side and sharing my experience to others.
          </p>
        </div>
        <div class="fixed md:static md:block bg-white bottom-0 left-0 w-full border-t border-primary z-40">
          <div class="flex flex-row md:flex-col">
            <div class="flex-grow px-6 py-2 md:py-4 text-center">
              <NuxtLink to="/get-in-touch">
                <app-button class="rounded-full w-full bg-primary text-white hover:bg-accent">Get in Touch</app-button>
              </NuxtLink>
            </div>
            <div class="sm:px-6 md:py-4 text-center fixed inset-y-0 left-0 sm:static hidden sm:block">
              <div class="flex content-center h-full">
                <div class="my-auto flex flex-col sm:flex-row bg-gray-100">
                  <client-only>
                    <a v-for="(social, index) in socials" :href="social.link" target="_blank" >
                      <brand
                        class="m-1 w-6 sm:w-8 sm:mx-2 inline-block h-6 sm:h-8 logo"
                        :key="index"
                        :class="social.color"
                        v-model="social.logo"
                      />
                    </a>
                  </client-only>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AppButton from "./Button";
  export default {
    components: { AppButton },
    methods: {
      getInTouch: function () {
        this.$root.$emit('git')
      }
    },
    data: () => ({
      socials: [
        { logo: "LinkedIn", color: "text-blue-800", link: "https://www.linkedin.com/in/cydrick-nonog" },
        { logo: "Github", color: "text-black-600", link: "https://github.com/cydrickn" },
        { logo: "Twitch", color: "text-purple-600", link: "https://www.twitch.tv/cydrickn" },
        { logo: "Youtube", color: "text-red-600", link: "https://www.youtube.com/channel/UCtNpJTE4WbRvH_Z-D9bDDaw" },
        { logo: "Facebook", color: "text-blue-600", link: "https://www.facebook.com/programminglivestream" },
      ]
    }),
  }
</script>
