<template>
  <div>
    <h3 class="text-lg mb-4 font-bold">{{ title }}</h3>
    <div class="flex flex-wrap">
      <div v-for="(item, key) in items" :key="key" class="w-full sm:w-1/2 lg:w-1/3 p-2">
        <stack :name="item.name" :color="item.color" :logo="item.logo" :level="item.level"></stack>
      </div>
    </div>
  </div>
</template>

<script>
  import Stack from "./Stack";
  export default {
    components: { Stack },
    props: {
      title: String,
      items: Array
    }
  }
</script>

<style scoped>

</style>