<template>
  <div class="rounded overflow-hidden shadow bg-white-200 flex border-b-2 border-primary">
    <div class="flex-grow-0 h-16 px-4 py-2">
        <brand v-model="logo" class="w-16 max-h-full" :class="color"></brand>
    </div>
    <div class="flex-grow h-16 pr-2 py-2">
      <h3 class="font-bold text-lg">{{ name }}</h3>
      <h4 class="text-primary">{{ levelInWord }}</h4>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      logo: String,
      name: String,
      level: Number,
      color: String,
    },
    data: () => ({
      levels: [
        '',
        'Beginner',
        'Intermediate',
        'Advance',
        'Expert',
      ],
    }),
    computed: {
      levelInWord: function () {
        return this.levels[this.level]
      }
    }
  }
</script>