<template>
  <div>
    <div class="flex-grow-0 p-4 justify-center">
      <client-only>
        <icon :value="icon" class="w-24 h-24 mx-auto"></icon>
      </client-only>
    </div>
    <div class="flex-grow p-4">
      <h3 class="font-bold text-lg text-accent">{{ title }}</h3>
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</template>

<script>
  import Icon from "./Icon";
  export default {
    components: { Icon },
    props: {
      title: String,
      icon: String,
      content: String
    }
  }
</script>

<style scoped>

</style>