<template>
  <div :class="theme" class="bg-secondary py-4 relative">
    <div class="fixed inset-y-0 h-screen right-0 flex content-center z-40">
      <div class="flex flex-col">
        <div class="my-auto flex flex-col bg-gray-100">
          <button v-for="(item, key) in themes" :key="key" :class="item" class="bg-primary h-6 w-6 m-1" @click="changeTheme(item)"></button>
          <div class="border border-primary my-2 sm:hidden"></div>
          <a v-for="(social, index) in socials" :href="social.link" target="_blank" class="sm:hidden" >
            <client-only>
              <brand
                class="m-1 w-6 sm:w-8 sm:mx-2 inline-block h-6 sm:h-8 logo"
                :key="index"
                :class="social.color"
                v-model="social.logo"
              />
            </client-only>
          </a>
        </div>
      </div>
    </div>
    <div class="">
      <Nuxt />
    </div>
  </div>
</template>

<script>
  import GetInTouch from "../components/GetInTouch";

  export default {
    components: {GetInTouch},
    data: () => ({
      gitShow: false,
      title: "Cydrick Nonog",
      description: "I'am Cydrick Nonog a Software Engineer. I'm a passionate web developer from Baguio City, Philippines who loves to work in back-end development side and sharing my experience to others.",
      theme: "theme-blue",
      themes: ["theme-blue", "theme-orange", "theme-purple"],
      socials: [
        { logo: "LinkedIn", color: "text-blue-800", link: "https://www.linkedin.com/in/cydrick-nonog" },
        { logo: "Github", color: "text-black-600", link: "https://github.com/cydrickn" },
        { logo: "Twitch", color: "text-purple-600", link: "https://www.twitch.tv/cydrickn" },
        { logo: "Youtube", color: "text-red-600", link: "https://www.youtube.com/channel/UCtNpJTE4WbRvH_Z-D9bDDaw" },
        { logo: "Facebook", color: "text-blue-600", link: "https://www.facebook.com/programminglivestream" },
      ]
    }),
    mounted: function () {
      this.$root.$on('git', () => {
        this.gitShow = !this.gitShow;
      })
    },
    methods: {
      changeTheme: function (theme) {
        this.theme = theme;
      }
    },
    head: function () {
      let baseUrl = ''
      let currentUrl = ''
      if (process.server) {
        baseUrl = process.env.BASE_URL || `${this.$nuxt.context.req.protocol}://${this.$nuxt.context.req.host}`
        currentUrl = `${baseUrl}${this.$nuxt.$route.fullPath}`
      } else {
        baseUrl = window.location.origin
        currentUrl = window.location.href
      }
      return {
        title: this.title,
        meta: [
          {hid: 'charset', charset: 'utf-8'},
          {hid: 'viewport', name: 'viewport', content: 'width=device-width, initial-scale=1'},
          {hid: 'title', property: 'title', content: this.title},
          {
            hid: 'description',
            name: 'description',
            content: this.description,
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: "cydrick, nonog, profile, service, stacks, software, engineer, development, developer, web"
          },
          {hid: 'og:site_name', property: 'og:site_name', content: "Cydrick Nonog"},
          {hid: 'og:title', property: 'og:title', content: "Cydrick Nonog"},
          {
            hid: 'og:description',
            property: 'og:description',
            content: this.description,
          },
          {hid: 'og:image', property: 'og:image', content: `${baseUrl}/cydrick.png`},
          {hid: 'og:type', property: 'og:type', content: 'website'},
          {hid: 'og:url', property: 'og:url', content: currentUrl},
          {hid: 'msapplication-TileColor', name: 'msapplication-TileColor', content: '#da532c'},
          {hid: 'theme-color', name: 'theme-color', content: '#ffffff'}
        ],
        link: [
          {hid: 'alternate', rel: 'alternate', hreflang: 'en-us', href: currentUrl},
          {hid: 'apple-touch-icon', rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png'},
          {hid: 'icon', rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png'},
          {hid: 'icon', rel: 'icon', type: 'image/png', sizes: '194x194', href: '/favicon-194x194.png'},
          {hid: 'icon', rel: 'icon', type: 'image/png', sizes: '192x192', href: '/android-chrome-192x192.png'},
          {hid: 'icon', rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png'},
          {hid: 'manifest', rel: 'manifest', href: '/site.webmanifest'},
          {hid: 'mask-icon', rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#dd6b20'},
        ],
      }
    }
  }
</script>